body{
    background-image: url("../images/darkness.png")
}
.jumbotron{
    border-radius: 4px;
    background-color: #1a4359;
    color: white;

}
#current-card.card-body{
    background-color:#153749;
    color: white;
}
.card{
    background-color: #153749;
    color: white;
}
.card-header{
    background-color:#10394f;
}
.form-control{
    background-color:#163c51;
}
#submit{
    margin-bottom: 15px; 
    background-color: #2a658e;
}
#submit:hover{
    background-color:#539dd1;
}
